html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    background-color: #f5f5f5;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.active {
    display: block;
}

.view-modal {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: .5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.view-modal--body {
    flex-direction: column;
}

.view-modal img {
    width: 100%;
    margin-bottom: 1em;
}

.view-modal--header {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: .4em .3em;
}

.view-modal--header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #fff;
    padding: 1em 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav--logo h1 {
    font-weight: 300;
    font-size: 2rem;
}

.nav--cartBtn {
    background-color: #fff;
    border: none;
    position: relative;
}

.nav--cartBtn.active::before {
    content: attr(data-count);
    position: absolute;
    top: -12px;
    right: -10px;
    background-color: #f00;
    color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav--cartBtn img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav--cartList {
    position: fixed;
    z-index: 9;
    top: 0px;
    right: -310px;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 1em;
    transition: all 0.3s ease;

}

.nav--cartList.active {
    right: 0px;
}

.cart-list--header {
    margin-bottom: 1em;
}

.cart-list--closeBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.cart-list--body {
    overflow-y: scroll;
    height: 80vh;
}

.cart-item {
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: 1px solid #f5f5f5;
}

.cart-item--img {
    width: 100px;
    height: 100px;
    margin-right: 1em;
}

.cart-item--img img {
    width: 100%;
    height: 100%;
}

.cart-item--info {
    text-align: center;
}

.cart-list--body::-webkit-scrollbar {
    display: none;
}

.cart-list--footer {
    margin-top: 1em;
}

.cart-list--totalPrice {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1em;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

.product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product--img {
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.product--img image {
    width: 100%;
}

.product--box {
    padding: 1.5em;
}

.product--info {
    flex-direction: column;
}

.cart-item--info h3,
.product--info h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.cart-item--info p,
.product--info p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1em;

}

.product--button .btn {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.product--button .btn--add {
    background-color: #000;
    color: #FFF;
    border: 1px solid #000;
}

.product--button .btn--add:hover {
    background-color: #fff;
    color: #000;
}

.product--button .btn--view {
    background-color: #ffff;
    color: #000;
    border: 1px solid #000;
}

.product--button .btn--view:hover {
    background-color: #000;
    color: #fff;
}